################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MvcWebApplication
/MvcWebApplication/bin/Debug/netcoreapp3.1
/MvcWebApplication/obj
